*{
	font-family: 'Roboto', sans-serif;
}
.font-Gwendolyn{
	font-family: 'Gwendolyn', cursive;
}
.font-Roboto{
	font-family: 'Roboto', sans-serif;
} 

/*MEDIDAS*/
.container1{
	padding-top: 6rem;
}

.h-3em{
	height: 3em;
}

.p-075em{
	padding: 0.75em
}

/* FOOTER */
.pg-footer{
	height: 70px;
	background-color: $rojo-tm;
	.icono-group{
		.icono{
			img{
				height: 50px;
			}
		}
	}
}

.titulo-rojo{
	color: $rojo-tm;
}

.navbar{
	&:hover{
	background-color: #000;
	}
	div{
		#navbarNav{
			ul{
				li{
					a{
						&:hover{
							font-weight: map-get($font-weightMap, bold);
						}
						&.active{
							@include fontSWC(1rem,700,$rojo-tm);
						}
					}
				}
			}
		}
	}

}
/* TRANSFORMACIONES */
.hover-scale-5 {
	transition-duration: 0.5s;
	&:hover{
		transform: scale(1.03);
	}
}
/* HOME */
#banner{
	height: 100vh;
	width: 100vw;
	background-image: url(../Desafio_1_Imagenes/atardecerMontana-770.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;	
	h1{
		@include fontSWC(2.5rem,700,#fff);
		padding-top:20rem;
		animation-name:familia;
		animation-iteration-count: infinite;
		animation-timing-function: ease-in-out;
		animation-duration: 6s;
		animation-delay: 0;
	}
}
@media screen and (min-width: map-get($bpMap,md)){
	#banner{
	background-image: url(../Desafio_1_Imagenes/atardecerMontana.jpg);
	}
}
@keyframes familia{
	0%{
	}
	50%{
		font-size: 2.7rem
	}
	100%{
	}
}
.iconoPV{
	max-width: 100px;
}

/* VIAJES */
.pgViajes{
	#viajeNoa{
		@extend .bg-noa;
		color: #643600;	
	}
	#viajeCuyo{
		@extend .bg-cuyo;
		color: #1F4F00;	
	}
	#viajePatagonia{
		@extend .bg-patagonia;
		color: #002F5B;	
	}

}
/* NOSOTROS */
.bg-map{
	background-image: url(../Desafio_1_Imagenes/bg-map.jpg);
	background-position: center;
	background-size: cover;
}
/* FAQ */
.pgFaq{
	.preguntas{
		.pregunta{
			background-color: $lg-blue;
			&:hover{
				background-color:#C4D5E5;
			}
		}			
		.respuesta{
			background-color: #C4D5E5;
		}
	}
	
}

/* CONTACTO */
.pgContacto{
	.btn{
	border-radius: 30px;
		&:hover{
			background-color:$rojo-tm;
		}
	iframe{
	max-height: 300px;
	}
	}
} 	
.hover-lgblue:hover{
	background-color: $lg-blue;
}